<h1>New Entry</h1>

<% entry = @entry %>
<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= recaptcha_tags callback: 'onRecaptchaSuccess' %>
  </div>

  <script>
    function onRecaptchaSuccess() { document.getElementById('submit').disabled = ''; }
  </script>

  <div class="actions">
    <%= form.submit 'Submit', id: 'submit', data: { disable_with: 'Submitting...' }, disabled: true %>
  </div>
<% end %>

<%= link_to 'Back', entries_path %>
